## ETAPA DE EXTRAÇÃO DOS DADOS

---





*  carregar o arquivo original de dados CSV.

*  renomear colunas.

*  separa as tabelas de clientes e produtos.

*  criar um banco banco_relacional.db.

*  enviar todas as tabelas para o banco relacional.
* fazer algumas consultas através de scripts SQL.
*  selecionar as variavéis que queremos trabalhar na etapa posterior de engenharia  e análise de dados.

*  executar a junção em  SQL

*  salva o resultado como nova tabela e CSV.

In [ ]:
import pandas as pd
import sqlite3
import os

In [ ]:
df = pd.read_csv("data/sales_data_sample.csv" , encoding='latin1' , sep = ',')

In [ ]:
list(df)

['ORDERNUMBER',
 'QUANTITYORDERED',
 'PRICEEACH',
 'ORDERLINENUMBER',
 'SALES',
 'ORDERDATE',
 'STATUS',
 'QTR_ID',
 'MONTH_ID',
 'YEAR_ID',
 'PRODUCTLINE',
 'MSRP',
 'PRODUCTCODE',
 'CUSTOMERNAME',
 'PHONE',
 'ADDRESSLINE1',
 'ADDRESSLINE2',
 'CITY',
 'STATE',
 'POSTALCODE',
 'COUNTRY',
 'TERRITORY',
 'CONTACTLASTNAME',
 'CONTACTFIRSTNAME',
 'DEALSIZE']

In [ ]:
df.rename(columns={
    'ORDERNUMBER': 'numero_pedido',
    'QUANTITYORDERED': 'quantidade_pedida',
    'PRICEEACH': 'preco_unitario',
    'ORDERLINENUMBER': 'numero_linha_pedido',
    'SALES': 'valor_total',
    'ORDERDATE': 'data_pedido',
    'STATUS': 'status_pedido',
    'QTR_ID': 'trimestre',
    'MONTH_ID': 'mes',
    'YEAR_ID': 'ano',
    'PRODUCTLINE': 'linha_produto',
    'MSRP': 'preco_sugerido',
    'PRODUCTCODE': 'codigo_produto',
    'CUSTOMERNAME': 'nome_cliente',
    'PHONE': 'telefone',
    'ADDRESSLINE1': 'endereco_1',
    'ADDRESSLINE2': 'endereco_2',
    'CITY': 'cidade',
    'STATE': 'estado',
    'POSTALCODE': 'cep',
    'COUNTRY': 'pais',
    'TERRITORY': 'territorio',
    'CONTACTLASTNAME': 'sobrenome_contato',
    'CONTACTFIRSTNAME': 'nome_contato',
    'DEALSIZE': 'porte_negocio'
}, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   numero_pedido        2823 non-null   int64
 1   quantidade_pedida    2823 non-null   int64
 2   preco_unitario       2823 non-null   float64
 3   numero_linha_pedido  2823 non-null   int64
 4   valor_total          2823 non-null   float64
 5   data_pedido          2823 non-null   object
 6   status_pedido        2823 non-null   object
 7   trimestre            2823 non-null   int64
 8   mes                  2823 non-null   int64
 9   ano                  2823 non-null   int64
 10  linha_produto        2823 non-null   object
 11  preco_sugerido       2823 non-null   int64
 12  codigo_produto       2823 non-null   object
 13  nome_cliente         2823 non-null   object
 14  telefone             2823 non-null   object
 15  endereco_1           2823 non-null   object
 16  endereco_2           302 non-null    object
 17  cidade               2823 non-null   object
 18  estado               1337 non-null   object
 19  cep                  2747 non-null   object
 20  pais                 2823 non-null   object
 21  territorio           1749 non-null   object
 22  sobrenome_contato    2823 non-null   object
 23  nome_contato         2823 non-null   object
 24  porte_negocio        2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [ ]:
df.head(5)

,numero_pedido,quantidade_pedida,preco_unitario,numero_linha_pedido,valor_total,data_pedido,status_pedido,trimestre,mes,ano,...,endereco_1,endereco_2,cidade,estado,cep,pais,territorio,sobrenome_contato,nome_contato,porte_negocio
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

### SEPARAR TABELAS

---

In [ ]:
# Tabela de clientes
clientes = df[['nome_cliente', 'telefone', 'endereco_1', 'endereco_2', 'cidade', 'estado', 'cep', 'pais', 'territorio', 'nome_contato', 'sobrenome_contato']].drop_duplicates()

# -----------------------
# Tabela de produtos
produtos = df[['codigo_produto', 'linha_produto', 'preco_sugerido']].drop_duplicates()

# -----------------------
# Tabela de pedidos
pedidos = df[['numero_pedido', 'data_pedido', 'status_pedido', 'trimestre', 'mes', 'ano', 'nome_cliente', 'porte_negocio']].drop_duplicates()

# -----------------------
# Tabela de detalhes do pedido
detalhes = df[['numero_pedido', 'codigo_produto', 'quantidade_pedida', 'preco_unitario', 'numero_linha_pedido', 'valor_total']]

In [ ]:
#CRIAR BANCO REALCIONAL

con = sqlite3.connect("banco_realacional.db")
clientes.to_sql("clientes", con, index=False, if_exists="replace")
produtos.to_sql("produtos", con, index=False, if_exists="replace")
pedidos.to_sql("pedidos", con, index=False, if_exists="replace")
detalhes.to_sql("detalhes_pedido", con, index=False, if_exists="replace")
#con.close()

print(" Banco relacional criado !")

 Banco relacional criado !

In [ ]:
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tabelas = cursor.fetchall()
print("Tabelas disponíveis no banco:", tabelas)

Tabelas disponíveis no banco: [('clientes',), ('produtos',), ('pedidos',), ('detalhes_pedido',)]

### CONSULTAS AO BANCO RELACIONAL

In [ ]:
con = sqlite3.connect("banco_realacional.db")

In [ ]:
for tabela in ['clientes', 'produtos', 'pedidos', 'detalhes_pedido']:
    query = f"SELECT * FROM {tabela} LIMIT 5;"
    df = pd.read_sql_query(query, con)
    print(f"\nTabela: {tabela}")
    print(df.head())

Tabela: clientes
               nome_cliente          telefone                     endereco_1  \
0         Land of Toys Inc.        2125557818        897 Long Airport Avenue
1        Reims Collectables        26.47.1555             59 rue de l'Abbaye
2           Lyon Souveniers  +33 1 46 62 7555  27 rue du Colonel Pierre Avia
3         Toys4GrownUps.com        6265557265             78934 Hillside Dr.
4  Corporate Gift Ideas Co.        6505551386                7734 Strong St.

  endereco_2         cidade estado    cep    pais territorio nome_contato  \
0       None            NYC     NY  10022     USA       None         Kwai
1       None          Reims   None  51100  France       EMEA         Paul
2       None          Paris   None  75508  France       EMEA       Daniel
3       None       Pasadena     CA  90003     USA       None        Julie
4       None  San Francisco     CA   None     USA       None        Julie

  sobrenome_contato
0                Yu
1           Henriot
2          Da Cunha
3             Young
4             Brown

Tabela: produtos
  codigo_produto linha_produto  preco_sugerido
0       S10_1678   Motorcycles              95
1       S10_1949  Classic Cars             214
2       S10_2016   Motorcycles             118
3       S10_4698   Motorcycles             193
4       S10_4757  Classic Cars             136

Tabela: pedidos
   numero_pedido      data_pedido status_pedido  trimestre  mes   ano  \
0          10107   2/24/2003 0:00       Shipped          1    2  2003
1          10121    5/7/2003 0:00       Shipped          2    5  2003
2          10134    7/1/2003 0:00       Shipped          3    7  2003
3          10145   8/25/2003 0:00       Shipped          3    8  2003
4          10159  10/10/2003 0:00       Shipped          4   10  2003

               nome_cliente porte_negocio
0         Land of Toys Inc.         Small
1        Reims Collectables         Small
2           Lyon Souveniers        Medium
3         Toys4GrownUps.com        Medium
4  Corporate Gift Ideas Co.        Medium

Tabela: detalhes_pedido
   numero_pedido codigo_produto  quantidade_pedida  preco_unitario  \
0          10107       S10_1678                 30           95.70
1          10121       S10_1678                 34           81.35
2          10134       S10_1678                 41           94.74
3          10145       S10_1678                 45           83.26
4          10159       S10_1678                 49          100.00

   numero_linha_pedido  valor_total
0                    2      2871.00
1                    5      2765.90
2                    2      3884.34
3                    6      3746.70
4                   14      5205.27

In [ ]:
#top clientes
query = '''
SELECT
    c.nome_cliente,
    ROUND(SUM(d.valor_total), 2) AS total_comprado
FROM detalhes_pedido d
JOIN pedidos p ON d.numero_pedido = p.numero_pedido
JOIN clientes c ON p.nome_cliente = c.nome_cliente
GROUP BY c.nome_cliente
ORDER BY total_comprado DESC
LIMIT 10;
'''

top_clientes = pd.read_sql_query(query, con)
print(top_clientes)

                   nome_cliente  total_comprado
0         Euro Shopping Channel      2076929.63
1  Mini Gifts Distributors Ltd.      1756323.79
2            Muscle Machine Inc       505642.55
3    Australian Collectors, Co.       492287.87
4     The Sharp Gifts Warehouse       463902.71
5       Dragon Souveniers, Ltd.       460704.61
6      Corporate Gift Ideas Co.       431939.83
7        Saveley & Henriot, Co.       428622.75
8             La Rochelle Gifts       419867.20
9         Salzburg Collectables       404073.47

In [ ]:
#Produtos mais vendidos (em unidades)

query = '''
SELECT
    pr.codigo_produto,
    pr.linha_produto,
    SUM(d.quantidade_pedida) AS total_unidades
FROM detalhes_pedido d
JOIN produtos pr ON d.codigo_produto = pr.codigo_produto
GROUP BY pr.codigo_produto, pr.linha_produto
ORDER BY total_unidades DESC
LIMIT 10;
'''

produtos_vendidos = pd.read_sql_query(query, con)
print(produtos_vendidos)

  codigo_produto     linha_produto  total_unidades
0       S18_3232      Classic Cars            1774
1       S24_3856      Classic Cars            1052
2       S18_4600  Trucks and Buses            1031
3      S700_4002            Planes            1029
4       S12_4473  Trucks and Buses            1024
5       S24_3949            Planes            1008
6       S18_1097  Trucks and Buses             999
7       S50_1341      Vintage Cars             999
8       S18_2432  Trucks and Buses             998
9       S18_1342      Vintage Cars             997

In [ ]:
#Faturamento por ano e trimestre

query = '''
SELECT
    ano,
    trimestre,
    ROUND(SUM(valor_total), 2) AS faturamento
FROM pedidos p
JOIN detalhes_pedido d ON p.numero_pedido = d.numero_pedido
GROUP BY ano, trimestre
ORDER BY ano, trimestre;
'''

faturamento_trimestral = pd.read_sql_query(query, con)
print(faturamento_trimestral)

    ano  trimestre  faturamento
0  2003          1    976459.31
1  2003          2   1398718.01
2  2003          3   1728431.68
3  2003          4   4637005.63
4  2004          1   2031108.02
5  2004          2   1814521.78
6  2004          3   2730526.66
7  2004          4   4939060.94
8  2005          1   2593117.93
9  2005          2   1816134.19

In [ ]:
#Ticket médio por cliente

query = '''
SELECT
    c.nome_cliente,
    COUNT(DISTINCT p.numero_pedido) AS qtd_pedidos,
    ROUND(SUM(d.valor_total), 2) AS total_gasto,
    ROUND(SUM(d.valor_total) / COUNT(DISTINCT p.numero_pedido), 2) AS ticket_medio
FROM clientes c
JOIN pedidos p ON c.nome_cliente = p.nome_cliente
JOIN detalhes_pedido d ON p.numero_pedido = d.numero_pedido
GROUP BY c.nome_cliente
ORDER BY ticket_medio DESC
LIMIT 10;
'''

ticket_medio = pd.read_sql_query(query, con)
print(ticket_medio)

                   nome_cliente  qtd_pedidos  total_gasto  ticket_medio
0        Saveley & Henriot, Co.            3    428622.75     142874.25
1            Amica Models & Co.            2    282351.78     141175.89
2        Toms Spezialitten, Ltd            2    269556.56     134778.28
3          Heintze Collectables            2    261465.04     130732.52
4          Marta's Replicas Co.            2    260412.42     130206.21
5           L'ordine Souveniers            3    386294.05     128764.68
6  Online Diecast Creations Co.            3    382922.65     127640.88
7            Muscle Machine Inc            4    505642.55     126410.64
8                AV Stores, Co.            3    364577.90     121525.97
9    Corrida Auto Replicas, Ltd            3    361845.84     120615.28

In [ ]:
#Análise de elasticidade: variação de preço x quantidade

query = '''
SELECT
    pr.codigo_produto,
    AVG(d.preco_unitario) AS preco_medio,
    SUM(d.quantidade_pedida) AS qtd_total,
    ROUND(SUM(d.valor_total), 2) AS total_vendas
FROM detalhes_pedido d
JOIN produtos pr ON d.codigo_produto = pr.codigo_produto
GROUP BY pr.codigo_produto
HAVING COUNT(*) > 5
ORDER BY preco_medio DESC;
'''

elasticidade = pd.read_sql_query(query, con)
print(elasticidade)

    codigo_produto  preco_medio  qtd_total  total_vendas
0         S24_2300   100.000000        996     125273.43
1         S18_4027   100.000000        922     133779.35
2         S10_1949   100.000000        961     191073.03
3         S18_3482    99.859600        860     120467.29
4         S18_2238    99.555556        966     154623.95
..             ...          ...        ...           ...
104       S32_2206    47.084000        836      41353.43
105       S24_2972    45.498519        912      46515.92
106       S24_3969    45.046818        745      33181.66
107       S24_2840    44.010357        983      47235.48
108       S24_1937    43.992000        844      47981.09

[109 rows x 4 columns]

### EXTRAÇÃO DOS DADOS IMPORTANTES PARA O TRABALHO

In [ ]:
con = sqlite3.connect("banco_realacional.db") #CONECTANDO COM O BANCO

In [ ]:
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';") #VERIFICANDO AS TABELAS DISPONIVEIS
print("Tabelas disponíveis:", cursor.fetchall())

Tabelas disponíveis: [('clientes',), ('produtos',), ('pedidos',), ('detalhes_pedido',)]

In [ ]:
#SELECIONANDO AS VARIÁVEIS DE INTERESSE PARA O TRABALHO
query = '''
SELECT
    d.numero_pedido,
    p.data_pedido,
    p.status_pedido,
    p.trimestre,
    p.mes,
    p.ano,
    p.porte_negocio,

    c.pais,
    c.territorio,
    c.estado,
    c.cidade,

    pr.linha_produto,
    pr.preco_sugerido,

    d.codigo_produto,
    d.quantidade_pedida,
    d.preco_unitario,
    d.valor_total

FROM detalhes_pedido d
JOIN pedidos p ON d.numero_pedido = p.numero_pedido
JOIN clientes c ON p.nome_cliente = c.nome_cliente
JOIN produtos pr ON d.codigo_produto = pr.codigo_produto
'''

In [ ]:
df_unificada = pd.read_sql_query(query, con)

In [ ]:
df_unificada.to_csv("vendas_unificadas.csv", index=False, encoding="utf-8-sig") #SALVANDO O BANCO DE DADOS UNIFICADO